@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
    --font-size: 1.5rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Mono', monospace;
    background-color: var(--light-grayish-cyan);
    min-height: 100vh;
    width: 100%;
    font-size: .9375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: var(--very-dark-cyan);
    font-size: var(--font-size);
}

h2 span {
    display: block;
}

main {
    background-color: var(--white);
    border-radius: 1.25rem;
    padding: 1.875rem;
    width: 100%;
    max-width: 62.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

main main-left p,
label {
    color: var(--dark-grayish-cyan);
    font-size: .9375rem;
}

main #main-left,
main #main-right {
    display: flex;
    flex-direction: column;    
}

main #main-left {
    gap: 2rem;
}

main #main-left input {
    margin-top: 0.3rem;
    text-align: end;
    border: transparent;
    background: var(--very-light-grayish-cyan);
    padding: 0.5rem 0.4rem;
    cursor: pointer;
}

@media (min-width: 25.0625rem) {
    main #main-left input:focus {
        outline: none;
    }
}

main #main-left input:focus  {
    border: 1px solid var(--strong-cyan);
}

/* Stack Overflow */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance:none;
    margin: 3px;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

#bill,
#number-people {
    display: flex;
    position: relative;
}

#bill input,
#number-people input {
    flex: 1;
    color: var(--very-dark-cyan);
}

#bill img,
#number-people img {
    width:v .9375rem;
    aspect-ratio: 1/1;
    position: absolute;
    top: .9375rem;
    left: 1rem;
}

main #main-left-middle .percentage-choice {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: .625rem;
    width: 100%;
}

main #main-left-middle p {
    margin-bottom: 0.5rem;
}

.button {
    background-color: var(--very-dark-cyan);
    color: var(--white);
    border: none;
    border-radius: .5rem;
    padding: .625rem;
    width: 100%;
    cursor: pointer;
}

.button:hover,
.button:active {
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
}

main #main-left-middle input {
    width: 100%;
    padding: .625rem;
    border-radius: .5rem;
    text-align: center;
}

main #main-left #main-left-bottom {
    font-size: .8125rem;
}

main #main-left #main-left-bottom #people-information {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main #main-right {
    gap: 3rem;
    padding: 1rem;
    background-color: var(--very-dark-cyan);
    border-radius: .625rem;
}

main #main-right-top,
main #main-right-middle [
    display: flex;
    justify-content: space-between;
    align-items: center;
]

.person {
    font-size: .8125rem;
    color: var(--white);
}

.person {
    font-size: .75rem;
    color: var(--white);
    opacity: .5;
}

.tip-total {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 1.875rem;
    color: var(--strong-cyan);
}

#main-right #button-reset {
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
    border: none;
    border-radius: .625rem;
    padding: .625rem;
    width: 100%;
    cursor: pointer;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    margin-top: 1.5rem;
}

#main-right #button-reset:hover,
#main-right #button-reset:active {
    background-color: var(--very-light-grayish-cyan);
    color: var(--strong-cyan);
    border: 0.1rem solid var(--strong-cyan);
}

.has-reset-activated {
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
}

@media (max-width: 50rem) {
    main {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 25rem) {
    #main-left,
    #main-right {
        width: 100%;
    }

    main #main-left-middle .percentage-choice {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    main #main-left-middle input,
    button {
        width: 45%;
        padding: .625rem;
    }
}

@media (max-width: 18.75rem) {
    main #main-left-middle input,
    button {
        width: 100%;
    }
}







